.profile-card {
  min-height: 300px;
  border-radius: 10px;
  color: white;
  background-image: url(./../../assets/img/profile-background.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  .profile-picture {
    height: 100px;
    width: 100px;
    padding: 20px;
    object-fit: cover;
    border-radius: 100%;
  }

  .name-email-container {
    height: 140px;
    margin-left: 10px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin-bottom: 8px !important;
    }
  }
}

.adress {
  margin-top: 32px;
}
