<mat-card class="profile-card">
  <img class="profile-picture" src="./../../assets/img/profile.png" alt="" />
  <div class="name-email-container">
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <p>{{ user.email }}</p>
  </div>
</mat-card>

<mat-card class="adress">
  <button
    mat-icon-button
    matTooltip="Edit user"
    matTooltipPosition="left"
    class="edit-btn"
    [matMenuTriggerFor]="adressMenu"
  >
    <mat-icon>more_horiz</mat-icon>
  </button>
  <mat-menu #adressMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="openEditUser()">
      <mat-icon>edit_note</mat-icon>
      <span>Edit user</span>
    </button>
  </mat-menu>

  <mat-card-header>
    <mat-card-title>User info</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ user.street }} <br />
    {{ user.zipCode }} {{ user.city }}
  </mat-card-content>
</mat-card>
